{% load staticfiles %}
<div class="pub-lineas padding-10 text-center" style="border-top:solid 1px #ccc; border-bottom:solid 1px #ddd; margin-bottom:10px;">
{% if ads6 %}
{% for ads6 in ads6 %}
<a href="{{ ads6.clickurl }}" target="_blank"><img src="/static/media/ads/{{ ads6.add_image }}" style="width:100%; max-width:728px;"></a>
{% endfor %}
{% else %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Ecos 720 Medio -->
  <ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9745962856680732"
     data-ad-slot="8591080599"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
{% endif %}
</div>
