<div class="btn-group" role="group" aria-label="Barra Backoffice">
  <button type="button" class="btn btn-secondary"><a class="text-primary" href="/backoffice/mis-post/1/">Mis post</a></button>
  <button type="button" class="btn btn-secondary"><a class="text-primary" href="/backoffice/comentarios/1/">Comentarios</a></button>
  <button type="button" class="btn btn-secondary"><a class="text-primary" href="/backoffice/mis-seguidores/1/">Mis seguidores</a></button>
  <button type="button" class="btn btn-secondary"><a class="text-primary" href="/backoffice/los-que-sigo/1/">Los que sigo</a></button>
</div>
<div class="padding-10"></div>
