{% if user.is_authenticated %}
<div>
	<ul class="nav nav-pills nav-stacked">
		<li>
			<div class="media">
				<div class="media-left">
					<a href="/autor/{{ user }}/1/"><div class="avatar-30" style="background-image: url(/static/media/autor/{{ user }}.jpg); float: left;" ></div></a>
				</div>
				<div class="media-body">
					<p><a href="/autor/{{ user }}/1/" class="text-primary">{{ user.first_name }} {{ user.last_name }}</a></p>
				</div>
			</div>
		</li>
		<li><a href="/backoffice/mis-post/1/">Mis artículos</a></li>
		<li><a href="/backoffice/comentarios/1/">Comentarios</a></li>
		<li><a href="/backoffice/mis-seguidores/1/">Mis seguidores</a></li>
		<li><a href="/backoffice/los-que-sigo/1/">Los que sigo</a></li>
	</ul>
</div>
<div class="padding-10"></div>
{% endif %}
