{% if user.is_authenticated %}
<div>
	<h2 class="text-center"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Editar post</h2>
	<hr>
	<form method="POST">
		{% csrf_token %}
		<div class="col-md-12">
			<div class="form-group">
				<label for="Titulo">Título</label>
				<input type="text" class="form-control" id="Titulo" maxlength="140" value="{{ post.titulo|escape }}" placeholder="Título" name="titulo" required>
			</div>
			<div class="form-group">
				<label for="Contenido">Contenido</label>
				<textarea class="form-control" rows="15" id="Contenido" placeholder="Contenido..." name="contenido" required>{{ post.contenido|escape }}</textarea>
			</div>
		</div>
		<div class="col-md-12"><hr></div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{% include 'base/categoria.html' %}
					</div>
					<div class="form-group">
						{% include 'base/acceso.html' %}
					</div>
					<div class="form-group">
						<label for="Fechainicio">Fecha inicio</label>
						<input type="text" class="form-control" id="Fechainicio" value="{{ post.fechainicio|date:'Y-m-d m:d:s' }}" name="fechainicio" placeholder="0000-00-00 00:00:00">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="Tags">Tags</label>
						<textarea name="tags" class="form-control" id="Tags" placeholder="Tags" rows="9">{{ post.tags|escape }}</textarea>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="checkbox">
							<label><input name="activo" type="checkbox" {% if post.activo == True %}checked{% endif %}> Publicar</label>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<button type="submit" class="btn btn-default">Enviar</button>
		</div>
	</form>
	<div style="padding:10px;"></div>
</div>
{% endif %}
