{% extends 'base/base.html' %}

{% block title %} Backoffice :: FlatlyBlog{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-12">
					{% include 'base/barrabackoffice.html' %}
				</div>
				<div class="col-sm-12">
					{% include 'base/mispost.html' %}
				</div>
				<div class="col-sm-12">
					<div class="padding-10"></div>
					{% include 'base/ads.html' %}
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<aside>
			{% include 'base/link.html' %}
			{% include 'base/banner.html' %}
			</aside>
		</div>
	</div>
{% endblock %}
